.flag {
	width: 30px;
	display: inline-block; 
	margin-right: 5px;
}

.flag img{
	height: 20px;
	vertical-align: middle;
}


.team_label {
	vertical-align: middle;
	margin-left: 5px;
	
	display: inline-block;
    width: 80px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}


.results{
	width: 40px;
	display: inline-block;
}

.time {
	margin: 5px 0 8px 0;
}

.stage {
	margin-left: 5px;
}


.bold {
	font-weight: bold;
}
